{% extends 'base.html.twig' %}

{% block title %}Créer un trajet{% endblock %}

{% block body %}
    <h2>Créer un nouveau trajet</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn mt-3">Créer</button>
    {{ form_end(form) }}
{% endblock %}

